body{
  margin: 0;
  padding: 0;
  background-color: pink;
  display: flex;
/*  align-items: center;*/
  justify-content: center;
  /*height: 100vh;*/
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 80px;
  width: 500px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

.ques1, .ques2, .ques3, .ques4, .ques5{
  padding: 100px;
  align-items: center;
  border-bottom: 1px solid black;
  display: block;
}

button{
  display: inline-block;
  height: 40px;
  width: 70px;
  align-items: center;
}

.rightanswer{
  background-color: green;
}

.wronganswer{
  background-color: red;
  color: white;
}
